<h3>
    할 일 리스트
</h3>
<div>해야할 일 목록입니다. +새로입력 버튼을 눌러 추가하거나 삭제하세요.</div>
{% if todo_list %}
    {% for todo in todo_list %}
    {% if todo.is_complete == 0 %}
    {% else %}
    [완료]
    {% endif%}
    <div>{{todo.todo}} {{todo.create_date}}</div>
        <a href="del/{{todo.id}}">삭제</a>
    <div>
    {% endfor %}
{% endif %}

<h5>할 일 등록</h5>
<form method="post" action="/todolist/add/">
    {% csrf_token %}
    <input type="text" id="todo" name="todo" maxlength="200">
    <input type="submit" value="할 일 등록">
</form>

